<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="%%DESCRIPTION%%" name="description">
<meta content="" name="author">
<meta name = "viewport" content = "width=device-width, initial-scale = 1.0" >
<title>%%Esco%%</title>
<link href="" rel="shortcut icon">
<link href="//mactrl.maplus.net/maplus_cdn_files/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//mactrl.maplus.net/maplus_cdn_files/common/styles/pardot_general_form.css" rel="stylesheet">


<link href="//mactrl.maplus.net/maplus_cdn_files/common/styles/pardot_general_width_narrow.css" rel="stylesheet">
<style>
  @charset "UTF-8";
  /* font-family */
  body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif; }
  
/* Responsive */
/*@media all and (min-width:768px) {*/
/*p.description {*/
/*white-space:nowrap; }*/
/*}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.contentHeader {wid
    padding: 0;

}
.header {
    background:radial-gradient(ellipse at top, #d7ecce, transparent),
     radial-gradient(ellipse at bottom, #b2ec99, transparent);
}

.header .col-2 h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 0px;
    padding: 10px;
  }
.topnav　ul{
     display: flex;
     margin-bottom: 0px;
}
.topnav li {
    text-decoration: none;
    color: #555;
    float : left;
    height: auto;
}
.topnav ul li a{
    height:100%;
}
.topnav ul:after {
  clear : both;
  display : block;
}
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 13px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50 ;
    color:white;
  }


/* nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}*/

/* stick navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 0px;
  }
/* end sticky navbar */



.container {
    max-width: 1300px; 
    /*padding-left:0px;*/
    /*padding-right:0px;*/
    margin: auto;
}

.container .myrow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:0px;
    /*margin-right:25px;*/
}
.col-6 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-6 img {
    max-width: 100%;
    padding: 50px 0; 
}




.col-2 {
flex-basis: 50%;
min-width: 300px;
}

.col-2 img {
    max-width: 80%;
    padding: 3px 0; 
    }

.col-2 h1 {
    font-size: 150px;
    line-height: 60px;
    margin: 0px;
    margin-bottom: 30px;
    padding: 10px;
    }

.header-text{
   float: right;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 10px;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}



.header .myrow {
    margin-top: 40px;
}

.categories {
    margin: 70px 0;
}


.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    /*padding-right: 25px;*/

}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;

}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}
/*-----offer------*/
.offer {
    background: radial-gradient(#fff,#58b530);
    margin-top:  80px;
    padding: 30px 0;

}

.col-2 offer-img {
    padding: 50px;
}

small {
    color: #555;
}

/*------testimonial------------*/

.testimonail {
    padding-top: 100px;

}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
        width: 50px;
        margin-top: 20px;
        border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px)
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* brands */
.brands {
    margin: 100px auto;

}
.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

/* footer */

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;

}

.footer p{
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;

}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* navbar */

.topnav {
    overflow: hidden;
    background-color: #333;
    /* position: fixed;
    left: 0;
    right: 0; */
  }
  

  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .col-2 img {
        display: none;
        }
    .col-2 h1 {
        font-size: 100px;
        line-height: 60px;
        margin: 0px;
        margin-bottom: 30px;
        padding: 10px;
            }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/* end navbar */

@media only screen and (max-width: 600px){
    .row {
        text-align: center;
    }

    .col-2, .col-3, .col-4 {

        flex-basis: 100%;

    }
}
  /* Required */
  .required .formHeading:after {
    content: "必須";
    display: inline-block;
    padding: 1px 4px;
    border-radius: 3px; }
  
  .required .formHeading:after {
    color: #FFFFFF; }
  
  .required .formHeading:after {
    background: #FF0000; }
  
  /* Error */
  .errors, .alert-danger {
    color: #FF0000; }
  
  .error input, .error textarea, .error select, .error span.value label {
    background-color: #FFE1E1; }
  
  p.error {
    color: #FF0000; }
  
  /* Submit Button */
  .btn-primary {
    color: #FFFFFF;
    background-color: #428BCA;
    border-color: #357EBD; }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: #3071A9;
    border-color: #285E8E; }
  
  /* Placeholder */
  input.form-control::placeholder-shown {
    color: #AAAAAA !important; }
  
  input.form-control::-webkit-input-placeholder {
    color: #AAAAAA !important; }
  
  input.form-control::-ms-input-placeholder {
    color: #AAAAAA !important; }
  
  input.form-control::-moz-placeholder {
    color: #AAAAAA !important; }
</style>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
<script>
  window.addEventListener("load", postSize, false);
    function postSize(e){
      setTimeout(function(){
      var target = parent.postMessage ? parent : (parent.document.postMessage ? parent.document : undefined);
      if (typeof target != "undefined" && document.documentElement.offsetHeight)
      var j = {"execFlg":"autoHeight", "height":document.documentElement.offsetHeight};
      target.postMessage(j, "*");
      },0);
    }
</script>


</head>
<body>
<div class="container" id="contentMain">

%%CONTENT%%

</div>
<script>
  document.getElementById("pardot-form").innerHTML=document.getElementById("pardot-form").innerHTML.replace(/\$s_([a-z]*)\$/g,"<$1>");
  document.getElementById("pardot-form").innerHTML=document.getElementById("pardot-form").innerHTML.replace(/\$e_([a-z]*)\$/g,"</$1>");
  $('#pardot-form').submit(function(){ $('#pardot-form :submit').prop('disabled', true); })
</script>
<script>
  // Placeholder Settings
  $('.company > .formInputInner     > input').attr('placeholder','株式会社 カンパニー');
  $('.department > .formInputInner  > input').attr('placeholder','営業部');
  $('.job_title > .formInputInner   > input').attr('placeholder','課長');
  $('.last_name > .formInputInner   > input').attr('placeholder','姓');
  $('.first_name > .formInputInner  > input').attr('placeholder','名');
  $('.last_kana > .formInputInner   > input').attr('placeholder','せい');
  $('.first_kana > .formInputInner  > input').attr('placeholder','めい');
  $('.zip > .formInputInner         > input').attr('placeholder','0000000');
  $('.city > .formInputInner        > input').attr('placeholder','市区町村郡');
  $('.address_one > .formInputInner > input').attr('placeholder','番地');
  $('.address_two > .formInputInner > input').attr('placeholder','ビル名・マンション名');
  $('.phone > .formInputInner       > input').attr('placeholder','0000000000');
  $('.fax > .formInputInner         > input').attr('placeholder','0000000000');
  $('.email > .formInputInner       > input').attr('placeholder','example@yourdomain.com');
  // ---
  // Bootstrap Settings
  $('input[type=text]').each(function(){ $(this).attr('class', $(this).attr('class') + ' text form-control' ); });
  $('textarea').attr('class','form-control');
  $('select').attr('class','select form-control');
  // ---
  // JPostal Settings
  varJpostal = $('.form-group.row.form-field.zip.pd-text   > div > label').attr('for');
  var3 = $('.form-group.row.form-field.state.pd-select     > div > label').attr('for');
  var4 = $('.form-group.row.form-field.city.pd-text        > div > label').attr('for');
  var5 = $('.form-group.row.form-field.address_one.pd-text > div > label').attr('for');
  $('#'+varJpostal).jpostal(JSON.parse('{"postcode":["#'+varJpostal+'"],"address":{"#'+var3+'":"%3","#'+var4+'":"%4","#'+var5+'":"%5"}}'));
  // ---
  // Move Input Method
  $().ready(function(){
  $('.formInputOuter.last_name').append( $('.formInputInner.first_name')); $('.form-group.first_name').remove();
  $('.formInputOuter.last_kana').append( $('.formInputInner.first_kana')); $('.form-group.first_kana').remove();
  $('.formInputOuter.zip').append( $('.formInputInner.state')); $('.form-group.state').remove();
  $('.formInputOuter.zip').append( $('.formInputInner.city')); $('.form-group.city').remove();
  $('.formInputOuter.zip').append( $('.formInputInner.address_one')); $('.form-group.address_one').remove();
  $('.formInputOuter.zip').append( $('.formInputInner.address_two')); $('.form-group.address_two').remove();
  });
</script>


</body>
</html>